

<mat-drawer-container class="mat_drawer_container" autosize>
  <mat-drawer #drawer class="sidenav" [opened]="true" mode="side">
    <div class="logo_container">
      <p class="logo">eins2 CRM</p>
    </div>

    <ul class="menu_items">
      <li routerLink="/"><mat-icon class="link_icon">dashboard</mat-icon>Dashboard</li>
      <li routerLink="/user"> <mat-icon class="link_icon">person</mat-icon>User</li>
      <li>Links</li>
    </ul>
  </mat-drawer>

  <div class="example-sidenav-content">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <mat-icon class="menu_icon" (click)="drawer.toggle()" >menu</mat-icon>     
        <span class="app_name">Simple CRM</span>
      </mat-toolbar-row>
    </mat-toolbar>
    
  </div>

  <div class="router_container">
    <router-outlet></router-outlet>
  </div>
 

</mat-drawer-container>