

<mat-card class="d_flex mat_card_title">

    <div class="name">Name & Email</div>
    <div class="adress">Adress</div>
  
</mat-card>

<mat-card *ngFor="let user of allUsers" let i = index class="d_flex" [routerLink]="['/user/' + user['customIdName']]">
<div class="name">
  <div >{{ user['firstName'] }} {{ user['lastName'] }}</div>
  <div class="email">{{user['email']}}</div>
</div>
  <div class="adress">{{ user['street'] }} | {{ user['postCode'] }} {{ user['city'] }}</div>
</mat-card>


    <button (click)="openDialog()" class="add_user_button" mat-fab color="primary"  matTooltip="Add user">
      <mat-icon>person_add</mat-icon>
    </button>

